.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

table.paleBlueRows {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 40px;

  font-family: "Times New Roman", Times, serif;
  border: 1px solid #FFFFFF;
  width: 93%;
  height: 100%;
  text-align: center;
  border-collapse: collapse;
}
.chartIcon{
  margin-left: 8px;
}
table.paleBlueRows td, table.paleBlueRows th {
  border: 1px solid #FFFFFF;
  padding: 3px 2px;
}
.dateTable{
  min-width: 65px;
}
table.paleBlueRows tbody td {
  font-size: 16px;
}
table.paleBlueRows tr:nth-child(even) {
  background: #D0E4F5;
}
table.paleBlueRows thead {
  background:  #0B6FA4;

  border-bottom: 5px solid #FFFFFF;
}
.paleBlueRowsActive {
  background: #0B6FA4;
}

.paleBlueRowsNotActive {
  background: rgb(133, 161, 175);
}

table.paleBlueRows thead th {
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #FFFFFF;
}
table.paleBlueRows thead th:first-child {
  border-left: none;
}


table.paleBlueRows tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  background: #D0E4F5;
  border-top: 3px solid #444444;
}
table.paleBlueRows tfoot td {
  font-size: 14px;
}
table.paleBlueRows tbody td.spentType{
  text-align: left;
  position: relative; 
  padding-left:20px; 
}

.TypeHeader{
  text-align: left;
  position: relative; 
  left: 40px;
}

.payText{
  position: relative; 
  left: -4px;
  font-size:13px;
}

.inputForm{
  display: flex;
  flex-direction: column;
  margin-right: 10%;
}

.inputMainPageForm{
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-top: 5%;
}

.inputForm1{
  display: flex;
  flex-direction: column;
  min-height: 80px;
  font-size:17px;
}

.inputLayout{
  width: 80%;
  height: 30px;
  margin:2px;
  font-size:15px;
}

.inputLayout1{
  width: 75%;
  height: 30px;
  margin-top:10px;
  font-size:16px;
  border:  1px solid ;
}

.dropdown {
  position: relative;
  display: flex;
}

.inputSelectLayout{
  width: 100%;
  height: 30px;
}
.checkboxLayout{
  width: 15%;
  padding:4px;
  height: 30px;
  font-size:30px;
}
.inputButton{
  width: 65%;
  height: 47px;
  margin-top:13px;


  font-size:14px;
}
.inputButton:active {
  box-shadow: 0 3px #666;
  transform: translateY(1px);
}

.paymentButtons{
  display: flex;
  flex-direction: row;
  margin-top: 12px;

}
.endLayout{
  display: flex;
}
.totalExpenses {
  margin: 10px;
  color: #0B6FA4;
  font-size: 20px;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow:1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  .hit-the-floor {
    text-align: center;
  }
  
  body {
    background-color: #f1f1f1;
    margin:0
  }

a:visited{ color: blue }

.deleteLatestTransaction{
  margin: -7px; 
  position: relative; 
  right: 10px;
  top: -2px;
  font-size: 9px;
}
.deleteLatestTransaction:hover{
  cursor: pointer; 
}
tr:nth-child(even) {background-color: #f2f2f2;}

.tableWithArrow{
  display: flex;
  flex-direction: column;
}
.arrow{
  font-size: 30px;
  margin: -38px;
  margin-bottom: 16px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Dropdown Button */
.dropbtn {
  background-color: white;
  color: black;
  font-size: 16px;
  border:  1px solid ;
  width: 75%;
  height: 30px;
}

.DataListOption{
  border-bottom: 1px solid  #ddd;
  margin: 9px
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background:  #ddd;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background:  #ddd;
}
.DataListOption:hover{
  background-color:    #D0E4F5;
}

.dropdown {
  position: relative;
  display: flex;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-left:-0.4%;
  border-radius: 15px;
  background-color: #f9f9f9;
  margin-top: 45px;
  min-width: 180px;

  max-width: 160px;
  max-height: 170px;
  overflow:scroll;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown .dropdown-content {
  display: block;
}

.Calender{
  text-decoration:none;
  font-size: 34px;
}

.iconButton{
position: relative;
margin-left: 7px;
margin-top: 4px;

margin-right: auto;
}

.icon-bar {
  width: 100%;
  background: rgb(133, 161, 175);
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 2px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 10px;
}

.subicon-bar-charts{
  width: 93%;
  margin-left:auto;
  margin-right:auto;

  background: rgb(133, 161, 175);
  overflow: auto;
  margin-top: 14px;
  margin-bottom: 14px;

}

.subicon-bar-charts a {
  float: left;
  width: 33.3%;
  text-align: center;
  transition: all 0.3s ease;
  color: white;

}

.subicon-bar-charts-active {
  background-color: #0B6FA4;
}

.active {
  background-color: #0B6FA4;
}

.googlechart{
  left: 400px;
}

.LoginButton{
  font-size: 26px;
  margin: 10px;
}

.SignInButton{
  font-size: 26px;
  margin: 10px;
}

.tableHeadline{
  margin-top: -32px;
  font-size: 21px;
  color:#0B6FA4;
  font-weight: bold;

}

.infoDataTables{
  margin-bottom: 20px; 
}
.infoDataTables1{
  margin-bottom: 40px; 
}
.infoData{
  margin-top: -14px; 
}

.chartButtons {
  background: #ededed;
  border: 1px solid #ccc;
  padding: 8px 18px;
  margin: 10px;
  font-size:14px;
  border-radius: 3px;
  cursor: pointer;
}

.chartButtons_active {
  background: #e5e5e5;
  border: 1px solid black;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

.chartButtons:active {
  box-shadow: 0 3px #666;
  transform: translateY(1px);
}